body {
	background-color: #e8bffb;
	font-family: arial;
	font-size: 16px;
	line-height: 1.6em;

}

.main{
	background-color: #e8bffb;
}

.container{
	float: right;
	width: max-content;
	width: 90%;
	margin: auto;
}

.container h2{
	text-align: center;
}

.container ul{
	list-style: none;
}

#navigation{
	background-color: #8d3fd0;
	color: #7a77b9;
}

#navigation ul{
	padding: 0%;
	list-style: none;
}

#main-header{
	background-color: #8d3fd0;
	color: #7a77b9;
}


 