body {
	background-color: #e8bffb;
	font-family: arial;
	font-size: 16px;
	line-height: 1.6em;

}

.main{
	background-color: #e8bffb;
}

.container{
	float: right;
	width: max-content;
	width: 90%;
	margin: auto;
}

.container h2{
	text-align: center;
}

.container ul{
	list-style: none;
}

.nav{
	background-color: #8d3fd0;
	color: #7a77b9;
}

#header{
	background-color: #8d3fd0;
	color: #7a77b9;
}

.nav{
	width: 200px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 200px;
}


 