:root {
	--gradient: radial-gradient(
	 45deg,
	 #c0e9ef, 
	 #c4d8f3, 
	 #c8c7f7, 
	 #ccb5fb, 
	 #d0a4ff
	 );
}

body {
	padding: 25px;
	background-image: var(--gradient);
	animation: bg-animation 10s infinite alternate;
	font-family: arial;
	font-size: 16px;
	line-height: 1.6em;
}

@keyframes bg-animation{
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

div#nav{
	width: 10%;
	float: left;
	padding: 0;
	position: sticky;
}

div#address{
	width: 15%;
	float: right;
}

div#container{
	width: 80%;
	margin: auto;
}

div#container h2{
	text-align: center;
}

div#nav ul{
	list-style: none;
}




 